
    <!-- Thumbnails -->
        <div class="large-12 columns">
          <h1>Browse {{sub.category}} Classes</h1>
          <div class="row">
          {{#classes}}
            <div class="large-3 small-6 columns">
              <img src="{{photo}}" height="220" width="220" style="height:220px;"/>
              <div class="panel" style="height:177px;">
                <h5>{{name}}</h5>
                <h6 class="subheader">{{description}}</h6>
              </div>
            </div>
          {{/classes}}

    <!-- End Thumbnails -->

          </div>
        </div>
      </div>

</div>