<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" >

			<label for="name">
				Name <input type="text" name="name" id="name" value="{{clothing.name}}"> 
			</label>


			<label for="type">
				Type <input type="text" name="type" id="type" value="{{clothing.type}}"> 
			</label>

			<label for="brand">
				 Brand <input type="text" name="brand" id="brand" value="{{clothing.brand}}"> 
			</label>

			<label for="caption">
				Caption <input type="text" name="caption" id="caption" value="{{clothing.caption}}"> 
			</label>
			

			<label for="photoUrl">
				Photo URL <input type="text" name="photoUrl" id="photoUrl" value="{{clothing.photo}}"> 
			</label>
			
		<button type="submit" class="radius button">Edit Clothing!</button>
		</form>
	</div>
</div>