
    <!-- Thumbnails -->

        <div class="large-12 columns">
          <div class="row">
          {{#clths}}
            <div class="large-4 small-6 columns">
              <a href="/c/{{_id}}"><img src="{{photo}}" height="303" width="303" style="height:303px;"/></a>
              <div class="panel">
                <h5><a href="/c/{{_id}}">{{name}}</a></h5>
                <h6 class="subheader">{{caption}}</h6>
              </div>
            </div>
          {{/clths}}

    <!-- End Thumbnails -->

          </div>
        </div>
      </div>

</div>