<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{pageTitle}}</title>

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
  <script src="../js/vendor/custom.modernizr.js"></script>

</head>
<body>

  <!-- Header and Nav -->
 <nav class="top-bar" style="text-align: center;">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            styletapp
          </a>
        </h1>
      </li>
    </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/add" class="radius button" style="margin-right:50px;">Add Clothing</a>
      </ul>
  </nav>
 
  <!-- End Top Bar -->

    <!-- End Navigation -->
    <!-- Main Content -->

      <div class="row">
        {{{yield}}}
    </div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
    
    <script src="../js/foundation.js"></script>
    
    <script src="../js/foundation.alerts.js"></script>
    
    <script src="../js/foundation.clearing.js"></script>
    
    <script src="../js/foundation.cookie.js"></script>
    
    <script src="../js/foundation.dropdown.js"></script>
    
    <script src="../js/foundation.forms.js"></script>
    
    <script src="../js/foundation.joyride.js"></script>
    
    <script src="../js/foundation.magellan.js"></script>
    
    <script src="../js/foundation.orbit.js"></script>
    
    <script src="../js/foundation.placeholder.js"></script>
    
    <script src="../js/foundation.reveal.js"></script>
    
    <script src="../js/foundation.section.js"></script>
    
    <script src="../js/foundation.tooltips.js"></script>
    
    <script src="../js/foundation.topbar.js"></script>
    
  <script src="../js/foundation/app.js"></script>
</body>
</html>

