<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{pageTitle}}</title>

  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/foundation.css" />
  <link rel="stylesheet" href="../css/app.css" />

  <script src="../js/vendor/custom.modernizr.js"></script>

</head>
<body>

  <!-- Header and Nav -->
<div class="row">
    <div class="large-12 columns">

    <!-- Navigation -->

      <div class="row">
        <div class="large-12 columns">

          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h1>
                  <a href="/">
                    Learn It Live Class Catalog
                  </a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>
         
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider"></li>
                <li><a href="/">Home</a></li>
                <li class="divider"></li>
                <li><a href="/subjects/technology">Technology Classes</a></li>
                <li class="divider"></li>
                <li><a href="/subjects/business">Business Classes</a></li>
                <li class="divider"></li>
                <li><a href="/subjects/wellness">Wellness Classes</a></li>
              </ul>
            </section>
          </nav>
          <!-- End Top Bar -->
        </div>
      </div>

    <!-- End Navigation -->
    <!-- Main Content -->

      <div class="row">
        {{{yield}}}
    </div>
  </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
    
    <script src="../js/foundation.js"></script>
    
    <script src="../js/foundation.alerts.js"></script>
    
    <script src="../js/foundation.clearing.js"></script>
    
    <script src="../js/foundation.cookie.js"></script>
    
    <script src="../js/foundation.dropdown.js"></script>
    
    <script src="../js/foundation.forms.js"></script>
    
    <script src="../js/foundation.joyride.js"></script>
    
    <script src="../js/foundation.magellan.js"></script>
    
    <script src="../js/foundation.orbit.js"></script>
    
    <script src="../js/foundation.placeholder.js"></script>
    
    <script src="../js/foundation.reveal.js"></script>
    
    <script src="../js/foundation.section.js"></script>
    
    <script src="../js/foundation.tooltips.js"></script>
    
    <script src="../js/foundation.topbar.js"></script>
    
  <script src="../js/foundation/app.js"></script>
</body>
</html>

